/**************** GÉNÉRAL ***************/

body{
    font-family: 'Roboto', sans-serif;
    margin: 0
}

    $main-color: #9356DC;
    $second-color: #FF79DA;
    $third-color: #99E2D0;
    $font-color: #EAEAEA;
    $footer-color: #353535;


.main-container{
    width: 100%;
    min-width: 320px;
    max-width: 768px; 
}

/* Mes mixins */ 
@mixin btn-shadow{
    box-shadow: 0px 0px 10px 0px  rgba(130 124 124);
    }
/*

/* Ceci est mon bloc header */
.header__logo {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25%
  }

/* Ceci est mon bloc de recherche ville */
.caseville{
    border: 0;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    width: 100%;
    height: 50px;
    @include btn-shadow;
    background-color: $font-color;
    &__point{
        color: $footer-color;
        text-align: center;
        padding-left: 50px;
    }
        &__search{
            border: 1px $font-color;
            background-color: $font-color;
            padding: 15px;
            color: $footer-color;
        }
}

/* Ceci est mon bloc introduction */
.blocintro{
    background-color: #F2F2F2;
    text-align: center;
    padding: 15px;
    &__button{
        border: 0px;
        background: linear-gradient($second-color, $main-color); 
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        height: 55px;
        width: 50%;
        color: white;
        margin: 20px;
        &:hover {
            opacity: 0.7;
            @include btn-shadow;
        }
    }
}

/* Ceci est mon bloc fonctionnement */
.blocfonction{
    margin-left: 10px;
    margin-top: 40px;
    & h2{
        margin-bottom: -30px;
    }
    &__flex{
        padding-bottom: 50px;
        &__number{
            background-color: $main-color;
            color: white;
            text-align: center;
            position: relative;
            top: 60px;
            left: -5px;
            border-radius: 50%;
            width: 30px;
            height: 25px;
        }
        &__bordure{
            margin-left: 2px;
            margin-bottom: -30px;
            border-radius: 20px;
            width: 87%;
            background-color: #F2F2F2;
            padding: 20px;
            @include btn-shadow;
        }
        &__icone{
            margin-right: 10px;
            margin-left: 10px;
            padding-left: 20px;
            justify-items: center;
            color: gray;
                &:hover{
                    color: $main-color;
                }
        }
    } 
}

 p.blocfonction__bordure{
    margin-top: 0px;
 }

/* Ceci est mon bloc restaurants */
.blocrestau{
    width: 100%;
    background-color: #F2F2F2;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 40px;
        & h2 {
            margin-bottom: 10px;
        }
        &__card{
            width: 95%;
            margin-top: 15px;
            margin-bottom: 20px;
            border-radius: 20px;
            padding-bottom: 1px; 
            background-color: white;
            filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
            & img{
                object-fit: cover;
                height: 200px;
                width: 100%;
                height: 150px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            } 
            & a {
                text-decoration: none;
                color: black;
            }
            &--txt{
                font-size: 16px;
                padding-left: 10px;
                margin-top: 5px;
                & .card-subtitle{
                    margin-top: -15px;
                    margin-bottom: 10px;
                }
                & .card-nouveau{
                    position: absolute;
                    top: 0px;
                    right: 20px;
                    background-color: $third-color;
                    color: #008766;
                    width: 20%;
                    padding: 5px;
                    text-align: center;
                }
            }
        }
}

/* Ceci est mon boutton coeur */
.buttonheart{
    font-size: 30px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: none;
    background-color: white;
    transition-property: all;
    transition-duration: 2s;
    &__solid{
        opacity: 0;
        &:hover{
            opacity: 1;
            color: transparent;
            background-image: linear-gradient($main-color, $second-color);
            background-clip: text;
        }
    }
}

/* Ceci est mon bloc footer*/
.footer {
    background-color: $footer-color;
    color: white;
    padding: 15px;
    width: 95%;
    &__h3{
        font-family: Shrikhand;
        padding-bottom: 15px;
        font-size: 24px;
    }
    &__link{
            color: white;
            text-decoration: none;
    }
}

