@charset "UTF-8";

/**************** GÉNÉRAL ***************/
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$font-color: #EAEAEA;
$footer-color: #353535;

.main-container {
    width: 100%;
    min-width: 320px;
}

/* Mes mixins */
@mixin card-shadow {
    box-shadow: -1px 2px 2px rgba(130, 124, 124);
}

/* Ceci est mon bloc header */
.header__icon {
    position: relative;
    bottom: 23px;
    padding-left: 10px;
    font-size: 25px;
    color: black;
}

.header__logo {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
}

.header__image {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

/* Ceci est mon bloc menu */
.blocmenu {
    width: 100%;
    padding-top: 20px;
    background-color: #F2F2F2;
    position: relative;
    top: -35px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: 20px;
    margin-block-end: -35px;

    &__title {
        font-family: shrikhand;
        font-size: 1emx;
        margin-left: 10px;
    }

    & h2 {
        margin-left: 10px;
        padding-top: 15px;
    }

    & h3 {
        margin-top: 15px;
    }

    &__card {
        width: 90%;
        height: 65px;
        border: 1px solid white;
        background-color: white;
        margin-bottom: 15px;
        margin-left: 10px;
        padding-left: 10px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        @include card-shadow;
        overflow: hidden;
        &:hover {
            margin-right: 50px;
        }

        &__description {
            margin-top: -5px;

            & .card-title {
                margin-top: 15px;
            }

            & .card-subtitle {
                margin-top: -15px;
                font-size: 0.8em;
            }
        }

        &__flex {
            display: flex;
            justify-content: flex-end;
            margin-right: -50px;
            transition: 1s;

            &__price {
                margin-top: 20px;
                margin-right: 10px;
            }
        }
        &:hover &__flex {
            margin-right: 0;
            transition: 1s;
        }
    }
}

/* Ceci est ma partie checkbox */
.checkbox {
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 15px;
    padding: 2px;

    &__font {
        background-color: $third-color;
        width: 50px;
    }
}

.buttonheart {
    font-size: 30px;
    position: absolute;
    right: 40px;
    top: 50px;
    border: none;
    transition-property: all;
    transition-duration: 2s;

    &_solid {
        opacity: 0;

        &:hover {
            opacity: 1;
            color: transparent;
            background-image: linear-gradient($second-color, $main-color);
            background-clip: text;
        }
    }
}

.green-border {
    border-bottom: 3px solid $third-color;
}

/* Ceci est mon bloc button */
.btn {
    border: none;
    background: linear-gradient($second-color, $main-color);
    border-radius: 50px;
    height: 50px;
    width: 50%;
    color: white;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 25%;

    &:hover {
        opacity: 0.7;
    }
}

/* Ceci est mon footer */
.footer {
    background-color: $footer-color;
    color: white;
    padding: 25px;

    &__h3 {
        font-family: Shrikhand;
        padding-bottom: 15px;
        font-size: 24px;
    }

    &__link {
        color: white;
        text-decoration: none;
    }
}